@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48
}

:root{
  --full-height: 100vh;
  /* --full-height: calc( 100vh - 30px); */
}

:root,
button,
input[type=text] {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;


  /* --bg: #877979; */
  --bg: #2E2E2E;

  /* transition-delay: 0.5s; */
}

@keyframes bg {

  0%,
  100% {
    background: #877979;
  }

  30% {
    background: #98baa4;
  }

  60% {
    background: #989dba;
  }
}

* {
  transition-timing-function: cubic-bezier(1, 0.1, 0.1, 1) !important;
  /* transition-duration: 0.5s; */
}


body {
  margin: 0;
  background: var(--bg);
  /* animation-name: bg;
  animation-iteration-count: infinite;
  animation-duration: 1000s; */
}

.xterm{
  height: 100% !important;
}

.terminal *{
  font-family: 'Roboto mono', monospace;
}

.xterm-viewport{
  opacity: 0;
}

.xterm-viewport::-webkit-scrollbar-track {
  /* background: transparent;  */
}

/* Handle */
.xterm-viewport::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}

/* Handle on hover */
.xterm-viewport:hover::-webkit-scrollbar-thumb,
.xterm-viewport::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.15);
}

.material-symbols-rounded img{
  width: 25px;
  height: 25px;
}

.window-draggable{
  height: 30px;
  -webkit-app-region: drag;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 10000;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/* .window-draggable>button{
  height: 12px;
  width: 12px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 100%;
} */

#app{
  box-sizing: border-box;
  /* padding-top: 30px; */
  /* height: calc(100vh - 30px); */
  height: 100vh;
}